kaoshop-sheets-workflow.json
{
  "name": "KaoShop - Schedule Auto Review from Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "ทุกวัน 08:00 น.",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {}
      },
      "id": "node-gsheets-read",
      "name": "อ่าน Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [420, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// กรองเฉพาะ row ที่ Status = 'pending'\nconst items = $input.all();\n\nconst pending = items.filter(item => {\n  const status = (item.json['Status'] || '').toLowerCase().trim();\n  return status === 'pending';\n});\n\nif (pending.length === 0) {\n  console.log('ไม่มีสินค้าที่รอสร้างบทความ');\n  return [];\n}\n\nconsole.log(`พบ ${pending.length} สินค้าที่รอสร้างบทความ`);\nreturn pending;"
      },
      "id": "node-filter",
      "name": "กรองรายการ pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-split",
      "name": "วนทีละสินค้า",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json['Shopee URL'] }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-shopee",
      "name": "ดึงข้อมูล Shopee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// รวมข้อมูลจาก Google Sheet + Shopee page\nconst shopeeHtml = $input.first().json.data || '';\nconst rowData = $('วนทีละสินค้า').first().json;\n\nlet shopeeDescription = '';\nlet autoImage = '';\n\ntry {\n  const match = shopeeHtml.match(/<script id=\"__NEXT_DATA__\" type=\"application\\/json\">(.*?)<\\/script>/);\n  if (match) {\n    const nextData = JSON.parse(match[1]);\n    const item = nextData?.props?.pageProps?.initialData?.data?.productItem;\n    if (item) {\n      shopeeDescription = (item.description || '').substring(0, 800);\n      autoImage = item.images?.[0]\n        ? `https://down-th.img.susercontent.com/file/${item.images[0]}`\n        : '';\n    }\n  }\n} catch (e) {}\n\n// ใช้รูปจาก Sheet ก่อน ถ้าไม่มีค่อย fallback ไป auto-extract\nconst featuredImage = (rowData['รูปภาพ'] || '').trim() || autoImage || null;\n\nreturn [{\n  json: {\n    productName: rowData['ชื่อสินค้า'],\n    price: rowData['ราคา'] || '',\n    category: rowData['หมวดหมู่'],\n    shopeeUrl: rowData['Shopee URL'],\n    affiliateUrl: rowData['Affiliate URL'] || rowData['Shopee URL'],\n    additionalInfo: rowData['จุดเด่น'] || '',\n    shopeeDescription,\n    featuredImage,\n    row_number: rowData.row_number,\n  }\n}];"
      },
      "id": "node-prepare",
      "name": "เตรียมข้อมูล",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "คุณคือนักรีวิวสินค้ามืออาชีพระดับ Expert ภาษาไทย สไตล์เดียวกับ Wirecutter, RTINGS หรือ Notebookcheck\n\nหลักการเขียน:\n- เขียนในฐานะคนที่ \"ใช้จริง\" ไม่ใช่คนขายของ\n- ตรงไปตรงมา บอกทั้งข้อดีและข้อจำกัดอย่างซื่อสัตย์\n- ใช้ภาษาเข้าใจง่าย ไม่ฟุ้งเฟ้อ ไม่ใช้คำโฆษณา\n- เนื้อหาต้องมีประโยชน์จริงต่อคนที่กำลังตัดสินใจซื้อ\n- SEO-friendly แต่ไม่ keyword stuffing\n\nโครงสร้าง content HTML ที่ต้องการ (800-1000 คำ):\n\n<div class=\"quick-take\"><strong>เหมาะสำหรับ:</strong> [1 ประโยคบอกว่าเหมาะกับใคร]</div>\n\n<h2>ภาพรวม</h2>\n<p>[อธิบายสินค้า ตำแหน่งในตลาด จุดขายหลัก vs คู่แข่ง]</p>\n\n<h2>ประสบการณ์ใช้งานจริง</h2>\n<p>[เล่าเหมือนใช้จริง เช่น \"ลองใส่หูฟังระหว่างออกกำลังกาย...\"]</p>\n\n<h2>จุดเด่นที่น่าสนใจ</h2>\n<p>[เจาะ 2-3 ฟีเจอร์สำคัญ อธิบายว่าดีอย่างไรในทางปฏิบัติ]</p>\n\n<h2>ข้อควรรู้ก่อนซื้อ</h2>\n<p>[ข้อจำกัด สิ่งที่ต้องระวัง หรือกลุ่มที่อาจไม่เหมาะ]</p>\n\n<h2>เหมาะกับใคร</h2>\n<ul><li>✅ เหมาะถ้า: ...</li><li>❌ ไม่เหมาะถ้า: ...</li></ul>\n\n<h2>สรุป Verdict</h2>\n<p>[คำแนะนำชัดเจน ซื้อไหม? ทางเลือกอื่นที่ควรพิจารณา?]</p>\n\nตอบกลับเป็น JSON เท่านั้น (ไม่ต้องใส่ markdown code block):\n{\n  \"title\": \"ชื่อบทความที่ SEO + ดึงดูด เช่น 'รีวิว [ชื่อสินค้า]: คุ้มไหม? ทดสอบจริง [ปี]\",\n  \"excerpt\": \"สรุป 1-2 ประโยค บอกว่าสินค้านี้คืออะไร เหมาะกับใคร และน่าซื้อไหม\",\n  \"content\": \"HTML ตามโครงสร้างข้างต้น\",\n  \"pros\": [\"ข้อดีที่เฉพาะเจาะจง ไม่ใช่ทั่วไป เช่น 'แบตอยู่ได้ 8 ชม. ในโหมด ANC'\"],\n  \"cons\": [\"ข้อเสียที่ตรงไปตรงมา เช่น 'ไม่กันน้ำ IP68 มีแค่ IPX4'\"],\n  \"rating\": 0.0,\n  \"scoreBreakdown\": {\n    \"value\": 0.0,\n    \"quality\": 0.0,\n    \"performance\": 0.0,\n    \"design\": 0.0,\n    \"ease\": 0.0\n  },\n  \"useCases\": [\"สูงสุด 3 use case ภาษาไทยสั้นๆ เช่น 'ทำงานในออฟฟิศ'\"],\n  \"slug\": \"review-ชื่อสินค้า-ภาษาอังกฤษ-ปี\"\n}\n\nหมายเหตุ scoreBreakdown:\n- value: ความคุ้มค่า (ราคาเทียบประสิทธิภาพ)\n- quality: คุณภาพวัสดุ/ความทนทาน\n- performance: ประสิทธิภาพการทำงาน\n- design: ดีไซน์/รูปลักษณ์\n- ease: ความง่ายในการใช้งาน\n- rating = ค่าเฉลี่ยถ่วงน้ำหนัก: (value*0.25 + quality*0.20 + performance*0.25 + design*0.15 + ease*0.15)\n- ทุกค่าเป็น 0.0-10.0 ปัดทศนิยม 1 ตำแหน่ง"
            },
            {
              "role": "user",
              "content": "=เขียนรีวิวสินค้านี้:\n\nชื่อสินค้า: {{ $json.productName }}\nราคา: {{ $json.price }} บาท\nหมวดหมู่: {{ $json.category }}\n{{ $json.additionalInfo ? 'จุดเด่น/สเปคจากผู้ขาย: ' + $json.additionalInfo : '' }}\n{{ $json.shopeeDescription ? 'รายละเอียดจาก Shopee: ' + $json.shopeeDescription : '' }}\n\nคำนึงถึงราคาและกลุ่มเป้าหมายในตลาดไทย วิเคราะห์ความคุ้มค่าเทียบกับราคา"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2500
        }
      },
      "id": "node-openai",
      "name": "GPT-4o เขียนรีวิว",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1520, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst productData = $('เตรียมข้อมูล').first().json;\n\nlet review;\ntry {\n  const rawContent = aiResponse.message?.content\n    || aiResponse.choices?.[0]?.message?.content\n    || '';\n  const cleaned = rawContent\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/gi, '')\n    .trim();\n  review = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('ไม่สามารถ parse JSON จาก AI ได้: ' + e.message);\n}\n\nconst slug = (review.slug || productData.productName)\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-')\n  .substring(0, 80)\n  + '-' + Date.now();\n\nconst categorySlug = productData.category\n  .toLowerCase()\n  .replace(/[^a-z0-9ก-๙\\s-]/g, '')\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-');\n\nreturn [{\n  json: {\n    title: review.title,\n    slug,\n    excerpt: review.excerpt,\n    content: review.content,\n    pros: review.pros || [],\n    cons: review.cons || [],\n    rating: review.rating || 4.0,\n    featuredImage: productData.featuredImage || null,\n    scoreBreakdown: review.scoreBreakdown || null,\n    useCases: review.useCases || [],\n    affiliateUrl: productData.affiliateUrl || null,\n    price: productData.price || null,\n    productName: productData.productName,\n    categoryName: productData.category,\n    categorySlug,\n    published: true,\n    row_number: productData.row_number,\n  }\n}];"
      },
      "id": "node-payload",
      "name": "เตรียม Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kaoshop-omega.vercel.app/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ks_d7c548ef8a5a25220f1da408bec2c2a15c982b32250de8e0c12efaa3369684c5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-post",
      "name": "POST ไปยัง KaoShop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('เตรียม Payload').first().json.row_number }}",
            "Status": "done"
          },
          "matchingColumns": ["row_number"],
          "schema": []
        },
        "options": {}
      },
      "id": "node-gsheets-update",
      "name": "อัพเดท Status Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2180, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "ทุกวัน 08:00 น.": {
      "main": [
        [{ "node": "อ่าน Google Sheet", "type": "main", "index": 0 }]
      ]
    },
    "อ่าน Google Sheet": {
      "main": [
        [{ "node": "กรองรายการ pending", "type": "main", "index": 0 }]
      ]
    },
    "กรองรายการ pending": {
      "main": [
        [{ "node": "วนทีละสินค้า", "type": "main", "index": 0 }]
      ]
    },
    "วนทีละสินค้า": {
      "main": [
        [{ "node": "ดึงข้อมูล Shopee", "type": "main", "index": 0 }],
        []
      ]
    },
    "ดึงข้อมูล Shopee": {
      "main": [
        [{ "node": "เตรียมข้อมูล", "type": "main", "index": 0 }]
      ]
    },
    "เตรียมข้อมูล": {
      "main": [
        [{ "node": "GPT-4o เขียนรีวิว", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o เขียนรีวิว": {
      "main": [
        [{ "node": "เตรียม Payload", "type": "main", "index": 0 }]
      ]
    },
    "เตรียม Payload": {
      "main": [
        [{ "node": "POST ไปยัง KaoShop", "type": "main", "index": 0 }]
      ]
    },
    "POST ไปยัง KaoShop": {
      "main": [
        [{ "node": "อัพเดท Status Done", "type": "main", "index": 0 }]
      ]
    },
    "อัพเดท Status Done": {
      "main": [
        [{ "node": "วนทีละสินค้า", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
